* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body */
body {
    background: rgb(193, 204, 193);
}

#button {
    background-color: #a19e9e;
    padding: 20px;
    width: 100px;
    margin: 1.8rem auto;
    display: flex;
    justify-content: center;
}

#timer {
    display: flex;
    justify-content: center;
    padding: 10px;
    /* margin: 10px; */
}

/* this is the header div */
.app {
    background: white;
    width: 90%;
    max-width: 600px;
    margin: 100px auto;
    border-radius: 10px;
    padding: 30px;
    /* display: none; */
}

/*header*/
h1 {
    font-size: 30px;
    border-bottom: 2px solid;
    padding-bottom: 20px;
    text-align: center;
}

/* the option div */
#question {
    padding: 20px 0;
}

h2 {
    font-size: 20px;
    padding: 10px;
}

#options {
    padding: 10px 16px;
    width: 100%;
    margin: 15pxpx;
}

.btn {
    background: #d8d8d8;
    color: #222;
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border: 1px solid #222;
    text-align: left;
    border-radius: 20px;
    font-size: 15px;
    cursor: pointer;
}

input {
    padding: 10px;
    border-radius: 5px;
}

#submit {
    padding: 10px;
    border-radius: 4px;
}

#footer {
    display: flex;
    flex-direction: row;
    margin: 20px;
    display: none;
}

.btn:hover:not(disabled) {
    background-color: rgb(93, 87, 146);
    color: #fff0f0;
}

.btn:disabled {
    cursor: no-drop;
}

/* the next button */
#next-btn {
    background: #a19e9e;
    color: #1b1616;
    width: 80px;
    /* height: 30px; */
    padding: 10px;
    margin: 10px auto;
    display: none;
    font-size: 15px;
    border-radius: 5px;
    cursor: pointer;
}

.correct {
    background: #e4ca75fb;
    color: #000;
}

.incorrect {
    background: #a1bb7f;
    color: #222;
}